<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Sonidos App
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="ordenando = true" *ngIf="!ordenando">
        Ordenando
      </button>

      <button ion-button (click)="ordenando = false" *ngIf="ordenando">
        Listo
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher [enabled]="!ordenando" (ionRefresh)="refrescar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar($event)">
    <ion-item-sliding *ngFor="let a of animales; let i = index">
      <button ion-item detail-none  (click)="reproducir(a)">
        <ion-avatar item-start>
          <img [src]="a.imagen">
        </ion-avatar>

        <h2>{{ a.nombre }}</h2>

        <ion-icon *ngIf="!a.reproduciendo" name="play" item-end></ion-icon>
        <ion-icon *ngIf="a.reproduciendo" name="pause" item-end></ion-icon>
      </button>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="eliminar(i)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
